.container {
    background: white;
    border: 1px solid red;
}

.welcome {
    background-color: beige;
    border: 3px solid red;
}

.red-btn {
    background-color: red;
}

.green-btn {
    background-color: green;
}